<div id="footer">
  <div class="footer">
    <ul class="icons">
      <li><i class="fa fa-youtube fa-2x"></i></li>
      <li><i class="fa fa-instagram fa-2x"></i></li>
      <li><i class="fa fa-facebook fa-2x"></i></li>
      <li><i class="fa fa-twitter fa-2x"></i></li>
    </ul>
    <p>This is a Airbnb Home challenge @ LeWagon</p>
  </div>
</div>
