<h1>Our team</h1>
<ul class="list-inline text-center">
  <% ["boris", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
<a href="contact@airbnb.com">contact@airbnb.com</a>
